.available-date {
  background-color: transparent;
  font-size: larger;
  font-weight: bolder;
  color: red;
  animation: zoomInOut 1s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Calendar container */
.calendar-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    width: 100%; /* Default to full width */
  }

  @media (min-width: 768px) {
    .calendar-container {
      width: 50%; /* Half width on desktop */
      margin: auto; /* Center align */
    }
  }
    
  /* Calendar header */
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .react-calendar__navigation button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Calendar body */
  .react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .react-calendar__month-view__days__day {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .react-calendar__month-view__days__day--weekend {
    background-color: #f9f9f9;
  }
  
  .react-calendar__tile--active {
    background-color: #007bff;
    color: #ffffff;
  }
  
  /* Today's date */
  .react-calendar__tile--now {
    background-color: #f0aa29;
    color: #333333;
  }
  
  /* Calendar footer */
  .react-calendar__month-view__weekdays {
    display: none; /* Hide weekdays */
  }
  
  .react-calendar__tile--hasActive {
    background-color: #007bff;
    color: #ffffff;
  }
  